@import 'blocks/search__friends';
@import 'blocks/channels';
@import 'blocks/list__friends';
@import 'blocks/header';
@import 'blocks/variables';
@import 'blocks/light__theme';
@import 'blocks/dark__theme';
@import 'blocks/dark_theme';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

.container {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto
}

.discord {
    min-height: 790px;
    display: flex;
}

.discord__field {
    display: flex;
}

.theme__btn {
    display: flex;
    align-items: center;
    position: absolute;
    right: 104px;
    bottom: 36px;
    padding: 10px 12px;
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(163, 163, 163);
    &:hover {
        transition: 0.5s all;
        background-color: rgb(125, 142, 180);
    }
}