.channels {
    width: 72px;
    background: #202225;
    padding: 8px;
    display: flex;
    justify-content: center;
    min-height: 1100px;
    .separator {
        width: 32px;
        height: 2px;
        background: #373A3F;
        border-radius: 2px;
        margin-top: 10px;
        margin-left: 7px;
    }
    &__icon {
        cursor: pointer;
        margin-top: 15px;
        &:hover {
            transition: 0.5s all;
            box-shadow: 1px 6px 14px #3280b8;
            border-radius: 25px;
        }
    }
    .channels__icon-active {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 4px;
            top: 19px;
            left: -18px;
            height: 40px;
            background-color: white;
            border-radius: 0px 4px 4px 0px;
        }
    }
    .channels__icon-unread {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 4px;
            top: 36px;
            left: -18px;
            height: 8px;
            background: #FFFFFF;
            border-radius: 0px 4px 4px 0px;
        }
    }
}